__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

.vscode/
.idea/

/data/
/checkpoints/
/outputs/
/storage/
/wandb/
/.wandb/
/lightning_logs/

/.hydra/
/multirun/

.env
*.log
.DS_Store

*.lance/
*.h5
*.hdf5
*.npz
*.mp4

*.pt
*.pth
*.ckpt
*.safetensors

/runs/
/storage/
/outputs/
/checkpoints/
/logs/
/data/
/wandb/
/.wandb/
/runs/
/lightning_logs/
*.zip
*.7z
*.tar
*.tar.gz
*.tgz
*.pth.tar
*.bin
*.onnx
